<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/register.css" />
		<link rel="stylesheet" href="css/jquery.idcode.css" />
		<script type="text/javascript" src="js/jquery-1.12.3.js" ></script> 
		<script type="text/javascript" src="js/jquery.cookie.js" ></script>								 
		<script type="text/javascript" src="js/jquery.idcode.js" ></script>
		<script type="text/javascript" src="js/register.js" ></script>		 
	</head>
	<body>
		<div class="register_head">
			<div class="registerh_con">
				<div class="registerhc_left">				 
						<span class="logo"><img src="img/register/QQ图片20160909171624_23.gif"/></span> 
					    <span class="register"><img src="img/register/welcome_07.jpg" />	</span> 		 				 
				</div>
				<div class="registerhc_right">
					<span>
						<i>已有账号?</i>
						<a href="login.html">登录</a>
					</span>
				</div>
			</div>			 
		</div>
		
	    <div class="register_middle">
		    <div class="registerm_con">		    	 		         
	            <div class="login">
	            	<div class="text">
	            		<span>手机号：</span>
	            		<input type="text"placeholder="请输入手机号码" class="phone"/>
	            		<em class="right1"><img src="img/register/ok_03.jpg" /></em>
	            		<i class="right1_num">请输入11位电话号码</i>
	            	</div>
	            	
	            	
	            	<div class="text">
	            		<span>验证码：</span>
	            		
                        <input type="text" id ="Txtidcode" class ="txtVerification"><span id="idcode"></span>
	            		<input type="button" class="btn" value="换一换" />	            		
	            		<em class="right2"><img src="img/register/ok_03.jpg"/></em>
	            		<i class="right2_num">请输入4位验证码</i>
	            	</div>
	            	
	            	
	            	<div class="text">
	            		<span>短信验证码：</span>
	            		<input type="text" placeholder="验证码" class="checkcode" />
	            		<input type="button" value="获取验证码" class="getmasg" />
	            		<em class="right3"><img src="img/register/ok_03.jpg"/></em>
	            		<i class="right3_num">请输入短信验证码</i>
	            	</div>
	            	<div class="text">
	            		<span>用户名：</span>
	            		<input type="text" placeholder="用户名" class="user" />
	            		<em class="right4"><img src="img/register/ok_03.jpg"/></em>
	            		<i class="right4_num">请输入4-20位用户名</i>
	            	</div>
	            	<div class="text" id="text">
	            		<span>密码：</span>
	            		<input type="password" placeholder="密码（8-20位，区分大小写）" class="pwds"/>
	            		<em class="right5"><img src="img/register/ok_03.jpg"/></em>
	            		<i class="right5_num">请输入8-20位密码</i>	
	            		<ul>
	            			<li class="rank1">弱</li>
	            			<li class="rank2">中</li>
	            			<li class="rank3">强</li>
	            		</ul>
            			 	            		 
	            	</div>
	            	<div class="text">
	            		<span>确认密码：</span>
	            		<input type="password" placeholder="确认密码" class="repwd"/>
	            		<em class="right6"><img src="img/register/ok_03.jpg"/></em>
	            		<i class="right6_num">请输入确认密码</i>
	            	</div>
	            	<div class="allow">
	            		<span><input type="checkbox" /><i> 我已阅读并接受E宠</i><a href="#">《用户使用协议》</a></span> 
	            	</div>
	            	<div class="button">
	            		<input type="button" value="立即注册" />
	            	</div>
	            </div>            	            	                     	        		        		        -->
		    </div>
        </div>

		
		
		
		
		<div class="registery_footer">
			<div class="footer_list">
				<ul>
					<li><a href="#">E宠商城</a></li>
					<li><a href="#">淘宝</a></li>
					<li><a href="#">知识</a></li>
					<li><a href="#">联系我们</a></li>
					<li><a href="#">关于我们</a></li>
					<li><a href="#">游戏</a></li>					
				</ul>			 		 
				<p>渝ICP备13005525号-2   渝ICP备 10002905  增值电信业务经营许可证：渝B2-20140042   Copyright &copy; 2007-2016 epet.com  重庆易宠科技有限公司</p>
			</div>	 
		</div>
						 
	</body>
</html>
